@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

a {
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: normal;
    color: rgb(255, 255, 255);
    text-shadow: #000 1px 1px 1px;
    -webkit-font-smoothing: antialiased;
    filter: drop-shadow(16px 31px 20px #000);
}

body,
html {
    height: 100%;
    margin: 0;
    background-image: url(img/MayItNeverFalter-NoGlaive.jpg);
    background-repeat: no-repeat;
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80em;
}

* {
    box-sizing: border-box;
}

[role=banner] {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;

}

[role=banner] h1 {
    font-size: 2000%;
    padding: 0.7%;
    background-color: #251E2079;
    border-radius: 1em 0 1em 0;
    width: 5em;

}

[role=banner] h2 {
    font-size: 400%
}

header h1 {
    font-size: 700%;
    padding: 0.7%;
    background-color: #251E2079;
    border-radius: 1em 0 1em 0;
    display: inline-block;
    min-height: 90px;
    margin: 55px auto 0;
    z-index: 2;
    display: flex;
    align-self: center;
}



header {
    position: relative;
    text-align: center;
    top: 0;
    z-index: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro {
    background-image: url(img/MayItNeverFalter.png);
    background-repeat: no-repeat;
    height: 110vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    height: 80em;
    color: white;
}

.summary {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

#zen-preamble {
    width: 100%;
}

.preamble {
    clear: left;
    float: left;
    left: 26%;
    margin-left: -26%;
    max-width: 100%;
    top: 19.66%;
    height: 19%;
    background-color: #D9D3C190;
    position: relative;
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.preamble>p {
    inline-size: 60%;
    overflow-wrap: break-word;
    left: 3em;
    position: relative;
}

.preamble>h3 {
    position: relative;
    left: 2.5em;
}

.preamble:after {
    clear: right;
    content: url(img/MayItNeverFalter-Css_optimized.png);
    display: block;
    float: left;
    height: 400px;
    left: 71%;
    margin-top: -277px;
    max-width: 495px;
    min-width: 412px;
    position: relative;
    width: 100%;
}

.supporting {

    border-top: 5px solid #D9D3C1;
    border-bottom: 5px solid #D9D3C1;
    float: left;
    position: relative;
    width: 100%;
    z-index: 3;
}

.explanation {
    background-color: #D9D3C1;
}

header h2 {
    display: flex;

}

.sidebar {
    background-color: #747484;
    color: white;
    left: 88%;
    margin-left: 0%;
    max-width: 21%;
    width: 12%;
    top: 99.66%;
    position: absolute;
    z-index: 10;
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    border-radius: 2em 0 0 2em;
    filter: drop-shadow(16px 31px 20px #000);
}


.sidebar h3 {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 1em;
}

.benefits {
    background-color: #74748495;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0%;
    max-width: 82em;
    width: 40%;
    height: 17em;
    top: -17em;
    flex-direction: column;
    color: white;
    filter: drop-shadow(16px 31px 20px #000);
}

.main {
    font-family: "Playwrite GB S", serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.explanation {
    color: black;
}

div.explanation {
    color: #000000;
    padding: 5%;
}

@media screen and (min-width: 550px) {
    div.explanation {
        float: left;
        width: 40%;
    }
}

@media screen and (min-width: 550px) {
    div.participation {
        float: left;
        width: 60%;
        overflow-wrap: break-word;
        inline-size: 50%;
    }
}

div.participation {
    background: #D9D3C1;
    color: #000000;
    padding: 10%;
}

div,
article,
section,
header,
footer,
nav,
figure,
li {
    position: relative;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.requirements {
    word-wrap: break-word;
    width: 100%;
    background-image: url(img/MayItNeverFalter-NoGlaive.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    padding: 7em;
    height: 40em;
    z-index: 2;
    opacity: 90%;
}

[role=contentinfo] {
    text-align: center;
}

footer {
    display: flex;
    flex-direction: column;
}

footer {
    background-image: url(img/MayItNeverFalter-NoGlaive.jpg);
    background-color: #7474846b;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: xx-large;
}

footer::after {
    content: url(img/MayItNeverFalter-NoBG.png);
    display: block;
    float: right;
    height: 5em;
    left: 0%;
    margin-top: -20em;
    max-width: 380px;
    min-width: 327px;
    position: relative;
    width: 75%;
    z-index: 1;
}